.fade-out {
  animation: fadeOut 1s forwards !important;
}

.alert-message {
  flex: 1;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

